<h1>Editing Mail Template</h1>

<h2>You can use the following tags within the email:</h2>
<ul class="textlist">
	<li><p>[registration_firstname]</p></li>
	<li><p>[registration_lastname]</p></li>
	<li><p>[workshop_name]</p></li>
	<li><p>[workshop_description]</p></li>
	<li><p>[workshop_date]</p></li>
	<li><p>[workshop_venue]</p></li>
	<li><p>[cancelation_link]</p></li>
</ul>

<%= render 'form' %>


