// Place all the styles related to the Workshop controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#workshop_navi {
	position: absolute;
	width: 500px;
	right: 0px;
	top: 70px;
	a, a:visited {
		font-size: 2em;
		line-height: 1.125em;

		&.red {
			color: #d3360b;
		}

		&.green {
			color: green;
		}
	}
}

.w_box {
	background: #efefef;
	padding: 25px;

	h2 {
		margin: 0 0 20px;
		//font-size: 2em;
		//font-weight: bold;
		//color: #333;
	}
}

.box_right {
	margin-top: 50px;
	width: 500px;
	float: right;
	margin-bottom: 30px;
}

.workshop_show_form_box {
	margin-bottom: 30px;

	.coachBox {
		width: 100%;
	}

	.participant_box {
		// height: 300px;
	}

	.workshop_show_mail_box {
		width: 500px;
	}
}

.workshop_details_box {
	width: 500px;
	margin-top: 75px;
	margin-bottom: 20px;
}
